<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let ing of ingredients$ | async">
    <ion-item>
      <ion-label>{{ ing.item }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
